body {
  background-color: #ecf0f1;
}
button {
  margin: 1em 0;
}
.context {
  text-align: center;
  color: white;
  margin-bottom: 3em;
}
.context h1 {
  background-color: #2980b9;
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 300;
  padding: .66em 0;
}
.context h2 {
  background-color: #3498db;
  font-size: 1.33em;
  padding: 1em 0;
}
.custom-control {
  margin: .33em 0;
}
.question-block {
  border-left: 6px solid #7f8c8d;
  padding: .66em 0 .66em 2em;
  margin: 3em 0;
}
.question-block button {
  display: none;
}
.message {
  margin-top: 1em;
  padding: 1em;
  border: 2px solid;
  border-radius 5px;
}
.correct-message {
  border-color: #2ecc71;
}
.incorrect-message {
  border-color: #e74c3c;
}