body {
  border-top: 10px solid orange;
}
h1 {
  margin-top: 1em;
}
button {
  margin: 1em 0;
}
.custom-control {
  margin: .33em 0;
}
.question-block {
  border-left: 6px solid gray;
  padding: .66em 0 .66em 2em;
  margin: 3em 0;
}
.question-block button {
  display: none;
}
.message {
  margin-top: 1em;
  padding: 1em;
  border: 2px solid;
  border-radius 5px;
}
.correct-message {
  border-color: green;
}
.incorrect-message {
  border-color: red;
}